[submodule "Notes"]
	path = Notes
	url = https://github.com/lablnet/dsa-notes.git
[submodule "vendor"]
	path = vendor
	url = https://github.com/lablnet/variadic_table.git
[submodule "web"]
	path = web
	url = https://github.com/lablnet/dsa_animations.git
